{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- Start Form detail to add a room -->
    <div class="rooms  w3-section w3-padding-16">
        <div class="room-card 	w3-card-2 w3-white w3-width w3-padding w3-round-large">
            <h3 class="w3-container  w3-center w3-padding">ROOM INFORMATION</h3>
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>
                    Room Number
                </p>
                <input type="number" name="room_no" placeholder="Enter room number" class="w3-input"  required><br>
                <p>
                    Room type
                </p>
                <select name="room_type"  class="w3-input mb-2"  required>
                    <option value="single"> Single</option>
                    <option value="double"> Double</option>
                    <option value="self contained"> Self contained</option>
                </select>
               
                <p>
                    Room Price
                </p>
                <input type="number" name="room_prix" placeholder="Enter room price" class="w3-input mb-2"  required>
                <p>
                    Room picture
                </p>
                <input type="file" name="room_img"  required><br>

                <div class="w3-container w3-section">
                    <!-- <input type="reset" class="w3-btn w3-yellow w3-round-large"> -->
                    <input type="submit" name="submit" value="Add room" class="w3-btn w3-yellow w3-round-large w3-right">
                </div>
            </form>
        </div>
    </div>
    <!-- End Form detail to add a room -->
    {% endblock %}